<header class="w-full h-fit bg-gradient-to-r from-blue-500 to-blue-700 text-white p-4">
  <div class="w-full mx-auto flex flex-col sm:flex-row gap-5 sm:gap-2 justify-between items-center px-5 sm:px-7 sm:py-5 ">
      <div class="flex flex-col w-full sm:w-fit gap-10">
          <span class="text-lg font-semibold italic">Welcome, Ellahhh👋🏾</span>
          <span class="flex flex-col gap-2">
            <h1 class="text-3xl md:text-4xl font-bold">Dashboard</h1>
            <p class="text-base">A dynamic dashboard for displaying users and their information.</p>
          </span>
      </div>
      <section class="flex items-center w-full sm:w-1/2">
          <input [formControl]="searchControl" type="text" placeholder="Search users..." class="w-full py-2 px-4 rounded-l-md focus:outline-none focus:ring-2 focus:ring-indigo-500 bg-white text-gray-800">

      </section>
  </div>
</header>

