<section class="flex flex-col md:flex-row h-screen">
    <aside class="bg-gray-100 text-gray-800 w-full md:w-28 flex flex-col items-center h-screen">
        <div class="p-4 flex items-center">
            <img src="assets/logo.png" alt="Logo" class="w-7">
        </div>
        <nav class="w-full flex-1 md:overflow-y-auto">
            <ul class="md:flex md:flex-col md:space-y-2">
                <li>
                    <a href="#" class="block py-2 text-center px-4 bg-blue-500 border-t-0 border-l-0 border-b-0 border-r-4 border-r-black text-white">Home</a>
                </li>
                <li>
                    <a href="#" class="block py-2 text-center px-4 cursor-not-allowed opacity-50">Profile</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 text-center px-4 cursor-not-allowed opacity-50">Logout</a>
                  </li>
                  
            </ul>
        </nav>
    </aside>
  </section>